# jai compiler intermediates
.build/

# vitest benchmarks
node_modules/

# debugging
*.rdi

# build outputs: executable + runtime libraries
dist/
!vendor/node
shim.dylib*
shim.dll
shim.lib
shim.obj
shim.pdb
shim.so

# stuff
.ai
